@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.2686 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.2686 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.2686 0 0);
  --primary: oklch(0.7857 0.1716 68.572);
  --primary-foreground: oklch(0 0 0);
  --secondary: oklch(0.9665 0.0045 258.3247);
  --secondary-foreground: oklch(0.4419 0.0375 257.2811);
  --muted: oklch(0.9846 0.0017 247.8389);
  --muted-foreground: oklch(0.5471 0.0321 263.2921);
  --accent: oklch(0.9869 0.0214 95.2774);
  --accent-foreground: oklch(0.491 0.1442 43.4774);
  --destructive: oklch(0.6496 0.2362 26.9032);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.9271 0.0075 260.7315);
  --input: oklch(0.9271 0.0075 260.7315);
  --ring: oklch(0.7857 0.1716 68.572);
  --chart-1: oklch(0.7857 0.1716 68.572);
  --chart-2: oklch(0.6739 0.1633 56.8909);
  --chart-3: oklch(0.5673 0.1563 47.2384);
  --chart-4: oklch(0.491 0.1442 43.4774);
  --chart-5: oklch(0.432 0.1284 42.8029);
  --sidebar: oklch(0.9846 0.0017 247.8389);
  --sidebar-foreground: oklch(0.2686 0 0);
  --sidebar-primary: oklch(0.7857 0.1716 68.572);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.9869 0.0214 95.2774);
  --sidebar-accent-foreground: oklch(0.491 0.1442 43.4774);
  --sidebar-border: oklch(0.9271 0.0075 260.7315);
  --sidebar-ring: oklch(0.7857 0.1716 68.572);
  --font-sans: "Outfit Variable", ui-sans-serif, sans-serif, system-ui;
  --font-serif: Source Serif 4, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.75rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 8px;
  --shadow-spread: -1px;
  --shadow-opacity: 0.1;
  --shadow-color: #1a1a1a;
  --shadow-2xs: 0px 4px 8px -1px hsl(0 0% 10.1961% / 0.05);
  --shadow-xs: 0px 4px 8px -1px hsl(0 0% 10.1961% / 0.05);
  --shadow-sm:
    0px 4px 8px -1px hsl(0 0% 10.1961% / 0.1),
    0px 1px 2px -2px hsl(0 0% 10.1961% / 0.1);
  --shadow:
    0px 4px 8px -1px hsl(0 0% 10.1961% / 0.1),
    0px 1px 2px -2px hsl(0 0% 10.1961% / 0.1);
  --shadow-md:
    0px 4px 8px -1px hsl(0 0% 10.1961% / 0.1),
    0px 2px 4px -2px hsl(0 0% 10.1961% / 0.1);
  --shadow-lg:
    0px 4px 8px -1px hsl(0 0% 10.1961% / 0.1),
    0px 4px 6px -2px hsl(0 0% 10.1961% / 0.1);
  --shadow-xl:
    0px 4px 8px -1px hsl(0 0% 10.1961% / 0.1),
    0px 8px 10px -2px hsl(0 0% 10.1961% / 0.1);
  --shadow-2xl: 0px 4px 8px -1px hsl(0 0% 10.1961% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 4px;
  --letter-spacing: 0em;
}

.dark {
  --background: oklch(0.2046 0 0);
  --foreground: oklch(0.9219 0 0);
  --card: oklch(0.2686 0 0);
  --card-foreground: oklch(0.9219 0 0);
  --popover: oklch(0.2686 0 0);
  --popover-foreground: oklch(0.9219 0 0);
  --primary: oklch(0.7857 0.1716 68.572);
  --primary-foreground: oklch(0 0 0);
  --secondary: oklch(0.2686 0 0);
  --secondary-foreground: oklch(0.9219 0 0);
  --muted: oklch(0.2393 0 0);
  --muted-foreground: oklch(0.7155 0 0);
  --accent: oklch(0.491 0.1442 43.4774);
  --accent-foreground: oklch(0.9277 0.1183 95.5956);
  --destructive: oklch(0.6496 0.2362 26.9032);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.3715 0 0);
  --input: oklch(0.3715 0 0);
  --ring: oklch(0.7857 0.1716 68.572);
  --chart-1: oklch(0.8447 0.1675 84.1157);
  --chart-2: oklch(0.6739 0.1633 56.8909);
  --chart-3: oklch(0.491 0.1442 43.4774);
  --chart-4: oklch(0.5673 0.1563 47.2384);
  --chart-5: oklch(0.491 0.1442 43.4774);
  --sidebar: oklch(0.1684 0 0);
  --sidebar-foreground: oklch(0.9219 0 0);
  --sidebar-primary: oklch(0.7857 0.1716 68.572);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.491 0.1442 43.4774);
  --sidebar-accent-foreground: oklch(0.9277 0.1183 95.5956);
  --sidebar-border: oklch(0.3715 0 0);
  --sidebar-ring: oklch(0.7857 0.1716 68.572);
  --font-sans: "Outfit Variable", ui-sans-serif, sans-serif, system-ui;
  --font-serif: Source Serif 4, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.75rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 8px;
  --shadow-spread: -1px;
  --shadow-opacity: 0.1;
  --shadow-color: #1a1a1a;
  --shadow-2xs: 0px 4px 8px -1px hsl(0 0% 10.1961% / 0.05);
  --shadow-xs: 0px 4px 8px -1px hsl(0 0% 10.1961% / 0.05);
  --shadow-sm:
    0px 4px 8px -1px hsl(0 0% 10.1961% / 0.1),
    0px 1px 2px -2px hsl(0 0% 10.1961% / 0.1);
  --shadow:
    0px 4px 8px -1px hsl(0 0% 10.1961% / 0.1),
    0px 1px 2px -2px hsl(0 0% 10.1961% / 0.1);
  --shadow-md:
    0px 4px 8px -1px hsl(0 0% 10.1961% / 0.1),
    0px 2px 4px -2px hsl(0 0% 10.1961% / 0.1);
  --shadow-lg:
    0px 4px 8px -1px hsl(0 0% 10.1961% / 0.1),
    0px 4px 6px -2px hsl(0 0% 10.1961% / 0.1);
  --shadow-xl:
    0px 4px 8px -1px hsl(0 0% 10.1961% / 0.1),
    0px 8px 10px -2px hsl(0 0% 10.1961% / 0.1);
  --shadow-2xl: 0px 4px 8px -1px hsl(0 0% 10.1961% / 0.25);
  --shadow-offset-x: 0px;
  --shadow-offset-y: 4px;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: "Outfit Variable", ui-sans-serif, sans-serif, system-ui;
  --font-mono: JetBrains Mono, monospace;
  --font-serif: Source Serif 4, serif;

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
  --radius: 0.75rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}

.hero {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='250' preserveAspectRatio='none' viewBox='0 0 1440 250'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1045%26quot%3b)' fill='none'%3e%3cpath d='M13 250L263 0L576.5 0L326.5 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1046%26quot%3b)'%3e%3c/path%3e%3cpath d='M280.6 250L530.6 0L799.1 0L549.1 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1046%26quot%3b)'%3e%3c/path%3e%3cpath d='M488.20000000000005 250L738.2 0L1048.7 0L798.7 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1046%26quot%3b)'%3e%3c/path%3e%3cpath d='M724.8000000000001 250L974.8000000000001 0L1255.3000000000002 0L1005.3000000000001 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1046%26quot%3b)'%3e%3c/path%3e%3cpath d='M1408 250L1158 0L973.5 0L1223.5 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1047%26quot%3b)'%3e%3c/path%3e%3cpath d='M1198.4 250L948.4000000000001 0L612.4000000000001 0L862.4000000000001 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1047%26quot%3b)'%3e%3c/path%3e%3cpath d='M945.8 250L695.8 0L640.3 0L890.3 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1047%26quot%3b)'%3e%3c/path%3e%3cpath d='M716.1999999999999 250L466.19999999999993 0L211.19999999999993 0L461.19999999999993 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1047%26quot%3b)'%3e%3c/path%3e%3cpath d='M1209.9618579060718 250L1440 19.961857906071828L1440 250z' fill='url(%26quot%3b%23SvgjsLinearGradient1046%26quot%3b)'%3e%3c/path%3e%3cpath d='M0 250L230.03814209392817 250L 0 19.961857906071828z' fill='url(%26quot%3b%23SvgjsLinearGradient1047%26quot%3b)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1045'%3e%3crect width='1440' height='250' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='0%25' y1='100%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient1046'%3e%3cstop stop-color='rgba(255%2c 161%2c 1%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(255%2c 161%2c 1%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1047'%3e%3cstop stop-color='rgba(255%2c 161%2c 1%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(255%2c 161%2c 1%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}