---
import MainLayout from "@/layouts/main.astro";
import Intro from "@/components/intro.astro";
---

<MainLayout>
  <div
    class="w-full min-h-dvh flex flex-col items-center justify-center p-4 md:p-6"
  >
    <Intro />
  </div>
</MainLayout>
